<% title "Profile" %>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>
<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>
<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>
<p>
  <strong>Phoneno:</strong>
  <%= @profile.phoneNo %>
</p>

<p>
  <%= link_to "Edit", edit_profile_path(@profile) %> |
  <%= link_to "Destroy", @profile, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", profiles_path %>
</p>
<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>