<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <% resource.profile || resource.build_profile %>
  
  <%= f.fields_for :profile do |profile_form| %>
  
  <h2><%= profile_form.label :firstname %></h2>
  <p><%= profile_form.text_field :firstname%></p>
  
  <h2><%= profile_form.label :lastname %></h2>
  <p><%= profile_form.text_field :lastname %></p>
  
	<% end %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
