<%= form_for @group do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :group_type %><br />
    <%= f.text_field :group_type %>
  </p>
  <p>
    <%= f.label :privacy %><br />
    <%= f.text_field :privacy %>
  </p>
    <p>
    <%= f.label :location_name %><br />
    <%= f.text_field :location_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
