<% @scribble = Scribble.new %>



<%=render :partial => 'newlocalscribble.html.erb', :locals => {:scribble => @scribble, :localfeed => @localfeed}%>

<% if @localscribbles.empty? %>
<h3> no scribbles yet </h3>
<% else %>
  <% @localscribbles.each do |scribble| %>
    <div class="scribblebody"> 
          <div class="votebox">

                       <a href="" id="<%= scribble.id %>" name="promote" class="votes">
                       <div class='up'></div><%= scribble.promotes %> promotes</a>
         
                       <a href=""  id="<%= scribble.id %>"  name="demote" class="votes">
                       <div class='down'></div><%= scribble.demotes %> demotes</a>

          </div>
          <div class="scribbleimg"><img src="assets/default_avatar.png" style='width:50px;height:50px'/></div>
          <div class="scribbletext">
          <blockquote>
          <p><%= scribble.post %></p>
          <small><%= scribble.posted_by %></small>
          </blockquote>
          <div class="scribbletime">created at  <%= scribble.created_at %></div></div>
          <%= render :partial=>"comments/postedcomments",:locals=>{:scribble=>scribble} %>
          <%= render :partial=>"comments/new",:locals=>{:scribble=>scribble} %> 
     </div>
  <% end %>
<% end %>