<% title "Album" %>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

  <% for picture in @album.pictures %>

      <%= image_tag picture.image_url(:thumb).to_s %>
		<%= picture.name %>
      <div class="actions">
        <%= link_to "edit", edit_picture_path(picture) %> |
        <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
      </div>
      
  <% end %>
  <div class="clear"></div>
<p>
  <%= form_for Picture.new do |f| %>
  <%= f.hidden_field :album_id %>
  <%= f.label :image, "Upload pictures:" %>
  <%= f.file_field :image, multiple: true, name: "picture[image]" %>
  <% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>


  <%= link_to "Remove Album", @album, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Albums", albums_path %>
</p>

<p>
  <%= link_to "Edit", edit_album_path(@album) %> |
  <%= link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", albums_path %>
</p>
