    <div class="container">
        <div class="row">
        <div class="span3">
            <div class="well sidebar-nav">
              <h3>Sidebar</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Links</li>
                <li><%= link_to "Home", ""  %></li>
                <li><%= link_to "Profile", user_path(current_user)%></li>
                <li><%= link_to "Messaging", ""  %></li>
                <li><a href="<%= index_messages_path %>"></i>Messages</a></li>
                <li><a href="<%= showusers_path(current_user.id)%>"><i class="icon-book"></i>My users</a></li>
                 <li><a href="<%= showusers_path(current_user.id)%>"><i class="icon-book"></i> Connections</a></li>
				<li><%= link_to "new Group", new_group_path  %></li>
				<li><%= link_to "Groups", groups_path  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
             <%= yield %>
          </div>
        </div><!--/row-->

      <footer>
        <p>&copy; Undersky 2013</p>
        <%= yield :scripts %>
      </footer>

    </div> <!-- /container -->